#
# Startup options
#

set window-title-basename "true"
set adjust-open "width"
set adjust_window "width"
set recolor-lightcolor "{{ color.bg }}"
set recolor-darkcolor  "{{ color.fg }}"
set recolor-keephue
set recolor "true"
set selection-clipboard "clipboard"

#
# Key bindings
#

map f toggle_fullscreen
map [fullscreen] f toggle_fullscreen
map <C-i> recolor
