file:///home/{{ ansible_user_id }}/attic Attic
file:///home/{{ ansible_user_id }}/code Code
file:///home/{{ ansible_user_id }}/desktop Desktop
file:///home/{{ ansible_user_id }}/down Downloads
file:///home/{{ ansible_user_id }}/files Files
file:///home/{{ ansible_user_id }}/media Media
file:///home/{{ ansible_user_id }}/pics Pictures
